<ion-view view-title="Create Account">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Name</span>
        <input type="text" ng-model="user.name">
      </label>
      <label class="item item-input">
        <span class="input-label">Surname</span>
        <input type="text" ng-model="user.surname">
      </label>
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" ng-model="user.username">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.password">
      </label>

    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="register(user)">
        Register
      </button>
    </div>
  </ion-content>
</ion-view>
