<ion-view view-title="Account">
  <ion-content>
    <div ng-show="!user.logged">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="user.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="user.password">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" ng-click="signIn(user)">
          Sign-In
        </button>
        <!--
        <p class="text-center">
          <a href="#/forgot-password">Forgot password</a>
        </p>
      -->
        <p class="text-center">
          <a href="#/tab/createAccount">Create Account</a>
        </p>
      </div>
    </div>
    <div ng-show="user.logged">
      Ciao {{user.username}}
    </div>
  </ion-content>
</ion-view>
