<ion-view view-title="Reports!">

  <ion-content>
    <div class="card">
        <div class="item item-divider">
            Activest Player (Played Matches)
        </div>
        <canvas id="ap" chart-legend=true class="chart chart-bar"
          chart-data="a_p_data" chart-labels="a_p_labels">
        </canvas>
    </div>
    <div class="card">
        <div class="item item-divider">
            Strongest Player (Wins)
        </div>
        <canvas id="sp" chart-legend=true class="chart chart-bar"
          chart-data="s_p_data" chart-labels="s_p_labels">
        </canvas>
    </div>
  </ion-content>

</ion-view>
