<ion-view view-title="Make Teams!">

  <ion-content>

    <div class="row">
      <div class="col">
        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              Red Defender
            </div>
            <select ng-model="portiereRosso" ng-change="selectUpdated(portiereRosso,'portiereRosso')">
              <option ng-repeat="player in players" value="{{player.username}}">{{player.name}} {{player.surname}}</option>
            </select>
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              Blue Defender
            </div>
            <select ng-model="portiereBlu" ng-change="selectUpdated(portiereBlu,'portiereBlu')">
              <option ng-repeat="player in players" value="{{player.username}}">{{player.name}} {{player.surname}}</option>
            </select>
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              Red Attacker
            </div>
            <select ng-model="attaccanteRosso" ng-change="selectUpdated(attaccanteRosso,'attaccanteRosso')">
              <option ng-repeat="player in players" value="{{player.username}}">{{player.name}} {{player.surname}}</option>
            </select>
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col"><div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Blue Attacker
          </div>
          <select ng-model="attaccanteBlu" ng-change="selectUpdated(attaccanteBlu,'attaccanteBlu')">
            <option ng-repeat="player in players" value="{{player.username}}">{{player.name}} {{player.surname}}</option>
          </select>
        </label>
      </div></div>
    </div>
    <button class="button button-block button-positive" ng-click="storeWin('blue')">
      Blue Wins!
    </button>
    <button class="button button-block button-assertive" ng-click="storeWin('red')">
      Red Wins!
    </button>

  </ion-content>
</ion-view>
